{% extends "landingpage/base.html" %}
{% load staticfiles %}

{%block body%} 
   

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
         <h3> Temperature: <span id="temp">  {{last_reading.temp}}  </span> &deg C  </p>
        Humidity:  <span id="hum"> {{last_reading.hum}}  </span> %  </p>
        </h3>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Reading Timestamp:  <span id="timestamp"> {{last_reading.created|date:"N j, Y, H:i:s"}} </span> </p>
                
            </div>
          </div>

        </div>

      </div>

    </div>

{%endblock%}

{%block js%}
<script type="text/javascript" src="{% static "temp_hum/temp_hum_ajax.js" %}"></script>
</script>
{%endblock%} 
