{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Just some fortune cookie advice">
    <meta name="author" content="Can Knaut">
    <link rel="icon" href="{% static "landingpage/ckicon.ico" %}">

    <title>Welcome to cknaut.com</title>

<!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="{% static "landingpage/landingpage_stylesheet.css" %}" type="text/css" charset="utf-8" />
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            {% autoescape off %}
            <p class="lead">{{fortune}}</p>
            {% endautoescape %}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Random Quote by <a href="http://iheartquotes.com/">I <span class="glyphicon glyphicon-heart"></span> quotes</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
  </body>
</html>

